In [1]:
import pandas as pd
import numpy as np

In [2]:
# Initial data review

df=pd.read_excel('Data/dota_tournament.xlsx')
df.head()

,ID,MATCH_ID,MAP,TOURNAMENT,TEAM,SIDE,SCORE,RESULT,DURATION,HERO_1,HERO_2,HERO_3,HERO_4,HERO_5
0,001-1-D,001-1,1,The Chongqing Major 2019,Virtus.pro,dire,7.0,LOSE,27:50,Juggernaut,Grimstroke,Nature's Prophet,Sven,Medusa
1,001-1-R,001-1,1,The Chongqing Major 2019,EHOME,radiant,25.0,WIN,27:50,Dark Seer,Outworld Devourer,Visage,Jakiro,Elder Titan
2,001-2-R,001-2,2,The Chongqing Major 2019,Virtus.pro,radiant,20.0,WIN,23:03,Outworld Devourer,Beastmaster,Magnus,Juggernaut,Lich
3,001-2-D,001-2,2,The Chongqing Major 2019,EHOME,dire,9.0,LOSE,23:03,Drow Ranger,Huskar,Nature's Prophet,Keeper of the Light,Tiny
4,001-3-R,001-3,3,The Chongqing Major 2019,Virtus.pro,radiant,37.0,WIN,49:39,Juggernaut,Tidehunter,Rubick,Keeper of the Light,Medusa

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3532 entries, 0 to 3531
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          3532 non-null   object
 1   MATCH_ID    3532 non-null   object
 2   MAP         3532 non-null   int64
 3   TOURNAMENT  3532 non-null   object
 4   TEAM        3532 non-null   object
 5   SIDE        3532 non-null   object
 6   SCORE       3532 non-null   float64
 7   RESULT      3532 non-null   object
 8   DURATION    3532 non-null   object
 9   HERO_1      3532 non-null   object
 10  HERO_2      3532 non-null   object
 11  HERO_3      3532 non-null   object
 12  HERO_4      3532 non-null   object
 13  HERO_5      3532 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 386.4+ KB

In [4]:
# score feature Dtype is wrong, so we need to change it to a numeric type ("int64").

df['SCORE'] = df['SCORE'].astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3532 entries, 0 to 3531
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          3532 non-null   object
 1   MATCH_ID    3532 non-null   object
 2   MAP         3532 non-null   int64
 3   TOURNAMENT  3532 non-null   object
 4   TEAM        3532 non-null   object
 5   SIDE        3532 non-null   object
 6   SCORE       3532 non-null   int64
 7   RESULT      3532 non-null   object
 8   DURATION    3532 non-null   object
 9   HERO_1      3532 non-null   object
 10  HERO_2      3532 non-null   object
 11  HERO_3      3532 non-null   object
 12  HERO_4      3532 non-null   object
 13  HERO_5      3532 non-null   object
dtypes: int64(2), object(12)
memory usage: 386.4+ KB

In [5]:
# For easier reporting, we have merged the Hello and Hero columns and stacked them in the same column. 
# As a result, we have a more structured data frame with two new columns called Pick and Hero, and the number of rows in the data frame has increased by a factor of five.

df = pd.melt(df, id_vars=['ID', 'MATCH_ID', 'MAP', 'TOURNAMENT', 'TEAM', 'SIDE', 'SCORE', 'RESULT', 'DURATION'], value_vars=['HERO_1', 'HERO_2', 'HERO_3', 'HERO_4', 'HERO_5'], var_name='PICK', 
        value_name= 'HERO')
df.head()

,ID,MATCH_ID,MAP,TOURNAMENT,TEAM,SIDE,SCORE,RESULT,DURATION,PICK,HERO
0,001-1-D,001-1,1,The Chongqing Major 2019,Virtus.pro,dire,7,LOSE,27:50,HERO_1,Juggernaut
1,001-1-R,001-1,1,The Chongqing Major 2019,EHOME,radiant,25,WIN,27:50,HERO_1,Dark Seer
2,001-2-R,001-2,2,The Chongqing Major 2019,Virtus.pro,radiant,20,WIN,23:03,HERO_1,Outworld Devourer
3,001-2-D,001-2,2,The Chongqing Major 2019,EHOME,dire,9,LOSE,23:03,HERO_1,Drow Ranger
4,001-3-R,001-3,3,The Chongqing Major 2019,Virtus.pro,radiant,37,WIN,49:39,HERO_1,Juggernaut

In [6]:
# Removing the string "hero" from the "PICK" feature and change the data type to "int64" to get numeric values, which will make our reporting task easier.

df['PICK'] = df['PICK'].str.replace('HERO_', '').astype('int64')
df.head()

,ID,MATCH_ID,MAP,TOURNAMENT,TEAM,SIDE,SCORE,RESULT,DURATION,PICK,HERO
0,001-1-D,001-1,1,The Chongqing Major 2019,Virtus.pro,dire,7,LOSE,27:50,1,Juggernaut
1,001-1-R,001-1,1,The Chongqing Major 2019,EHOME,radiant,25,WIN,27:50,1,Dark Seer
2,001-2-R,001-2,2,The Chongqing Major 2019,Virtus.pro,radiant,20,WIN,23:03,1,Outworld Devourer
3,001-2-D,001-2,2,The Chongqing Major 2019,EHOME,dire,9,LOSE,23:03,1,Drow Ranger
4,001-3-R,001-3,3,The Chongqing Major 2019,Virtus.pro,radiant,37,WIN,49:39,1,Juggernaut

In [7]:
# The same is done with the "RESULT" column, which is replaced by 1 for winning and 0 for losing, with the same objective. There is also a change in the name of the column.

df['RESULT'] = df['RESULT'].map(lambda x: 1 if x == 'WIN' else 0).astype('int64')
df = df.rename(columns={'RESULT': 'WIN'})

In [8]:
# Perform the necessary operations to obtain the match duration in seconds and numerical format.

df['DURATION'] = df['DURATION'].str.split(':').map(lambda x: x[0] + x[1]).astype('int64')
df.head()

,ID,MATCH_ID,MAP,TOURNAMENT,TEAM,SIDE,SCORE,WIN,DURATION,PICK,HERO
0,001-1-D,001-1,1,The Chongqing Major 2019,Virtus.pro,dire,7,0,2750,1,Juggernaut
1,001-1-R,001-1,1,The Chongqing Major 2019,EHOME,radiant,25,1,2750,1,Dark Seer
2,001-2-R,001-2,2,The Chongqing Major 2019,Virtus.pro,radiant,20,1,2303,1,Outworld Devourer
3,001-2-D,001-2,2,The Chongqing Major 2019,EHOME,dire,9,0,2303,1,Drow Ranger
4,001-3-R,001-3,3,The Chongqing Major 2019,Virtus.pro,radiant,37,1,4939,1,Juggernaut

In [9]:
df['DURATION'] = df['DURATION'].map(lambda x: (x // 100) * 60 + x % 100)
df.head()

,ID,MATCH_ID,MAP,TOURNAMENT,TEAM,SIDE,SCORE,WIN,DURATION,PICK,HERO
0,001-1-D,001-1,1,The Chongqing Major 2019,Virtus.pro,dire,7,0,1670,1,Juggernaut
1,001-1-R,001-1,1,The Chongqing Major 2019,EHOME,radiant,25,1,1670,1,Dark Seer
2,001-2-R,001-2,2,The Chongqing Major 2019,Virtus.pro,radiant,20,1,1383,1,Outworld Devourer
3,001-2-D,001-2,2,The Chongqing Major 2019,EHOME,dire,9,0,1383,1,Drow Ranger
4,001-3-R,001-3,3,The Chongqing Major 2019,Virtus.pro,radiant,37,1,2979,1,Juggernaut

In [10]:
# Ensuring the modifications did their job

MATCH = '802-1-R'
df[df['ID'] == MATCH]

,ID,MATCH_ID,MAP,TOURNAMENT,TEAM,SIDE,SCORE,WIN,DURATION,PICK,HERO
3454,802-1-R,802-1,1,The International 2022,Royal Never Give Up,radiant,29,0,6422,1,Underlord
6986,802-1-R,802-1,1,The International 2022,Royal Never Give Up,radiant,29,0,6422,2,Terrorblade
10518,802-1-R,802-1,1,The International 2022,Royal Never Give Up,radiant,29,0,6422,3,Earthshaker
14050,802-1-R,802-1,1,The International 2022,Royal Never Give Up,radiant,29,0,6422,4,Lich
17582,802-1-R,802-1,1,The International 2022,Royal Never Give Up,radiant,29,0,6422,5,Leshrac

In [11]:
picks = df[['ID', 'SIDE', 'PICK', 'HERO', 'WIN']]
picks.shape

(17660, 5)

In [12]:
# We store this dataframe in an Excel sheet called 'Picks'.

picks.to_excel('Data/picks.xlsx',index=False, sheet_name= 'Picks')

In [13]:
# To save memory, we select only the columns we need and remove duplicates to create our next dataframe, called 'Matches', which will be part of a relational database along with the 'Picks' dataframe and others.

matches = df[['ID', 'MATCH_ID', 'TOURNAMENT', 'MAP', 'TEAM', 'SIDE', 'SCORE', 'WIN', 'DURATION']]
matches.shape

(17660, 9)

In [14]:
matches = matches.drop_duplicates(keep='first', ignore_index=True)
print(matches.shape)
matches.head(10)

(3532, 9)

,ID,MATCH_ID,TOURNAMENT,MAP,TEAM,SIDE,SCORE,WIN,DURATION
0,001-1-D,001-1,The Chongqing Major 2019,1,Virtus.pro,dire,7,0,1670
1,001-1-R,001-1,The Chongqing Major 2019,1,EHOME,radiant,25,1,1670
2,001-2-R,001-2,The Chongqing Major 2019,2,Virtus.pro,radiant,20,1,1383
3,001-2-D,001-2,The Chongqing Major 2019,2,EHOME,dire,9,0,1383
4,001-3-R,001-3,The Chongqing Major 2019,3,Virtus.pro,radiant,37,1,2979
5,001-3-D,001-3,The Chongqing Major 2019,3,EHOME,dire,37,0,2979
6,002-1-D,002-1,The Chongqing Major 2019,1,TNC Predator,dire,34,1,2317
7,002-1-R,002-1,The Chongqing Major 2019,1,Chaos Esports Club,radiant,17,0,2317
8,002-2-R,002-2,The Chongqing Major 2019,2,TNC Predator,radiant,29,1,1324
9,002-2-D,002-2,The Chongqing Major 2019,2,Chaos Esports Club,dire,8,0,1324

In [15]:
# We store this dataframe in an Excel sheet called 'Matches'.

matches.to_excel('Data/matches.xlsx', index=False, sheet_name='Matches')